<div class="container">
  <div class="row mb-4 gy-4 h-100">
    <div class="col-12">
      <app-focus-point-modal [imageData]="imageData"></app-focus-point-modal>
    </div>
    <div class="col-8 min-vh-40">
      <app-focus-point-image [imageData]="imageData"></app-focus-point-image>
    </div>
    <div class="col-4">
      <app-focus-point-image [imageData]="imageData"></app-focus-point-image>
    </div>
    <div class="col-6">
      <app-focus-point-image [imageData]="imageData"></app-focus-point-image>
    </div>
    <div class="col-3">
      <app-focus-point-image [imageData]="imageData"></app-focus-point-image>
    </div>
    <div class="col-2">
      <app-focus-point-image [imageData]="imageData"></app-focus-point-image>
    </div>
    <div class="col-1">
      <app-focus-point-image [imageData]="imageData"></app-focus-point-image>
    </div>
    <div class="col-12" style="max-height: 100px">
        <app-focus-point-image [imageData]="imageData"></app-focus-point-image>
    </div>
  </div>
</div>
